@import url('https://fonts.googleapis.com/css?family=Courgette|DM+Sans&display=swap');

:root {
    --naranjaClaro: #ffd3ad;
    --naranjaOscuro: #d16909;
    --azulClaro: #dfeaff;
    --azulOscuro: #058dac;
    --negroLetra: #222;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* PLANTILLA CSS */

body {
    font-family: 'DM Sans', sans-serif;
}

header {
    background-color: var(--azulClaro);
    display: flex;
}

    header>hgroup {
        padding: 70px 20px 50px 60px;
    }

        header>hgroup>h1 {
            text-align: center;
        }

            header>hgroup>h1>a>img {
                background-color: #fff;
                padding: 15px;
                border-radius: 5%;
            }

        header>hgroup>h2 {
            font-family: 'Courgette', sans-serif;
            font-size: 1.7em;
            color: var(--azulOscuro);
            padding-top: 20px;
            text-shadow: 2px 2px 2px #015264;
        }

    header>nav {
        padding-top: 140px;
        width: 90%;
    }

        header>nav>ul {
            list-style-type: none;
            display: flex;
            justify-content: center;
            flex-wrap: wrap; /*Permite a los elementos cambiar de línea en un espacio limitado*/
        }

            header>nav>ul>li {
                margin: 40px 20px;
            }

                header>nav>ul>li>a {
                    padding: 20px;
                    text-decoration: none;
                    background-color: #fff;
                    border-radius: 3%;
                    color: var(--azulOscuro);
                    border: solid 3px var(--azulOscuro);
                    box-shadow: 4px 4px 4px #015264;
                    font-weight: bold;
                }

                header>nav>ul>li>a:hover {
                    background-color: var(--azulOscuro);
                    border-radius: 3%;
                    color: #fff;
                    border: solid 3px var(--azulOscuro);
                    box-shadow: 4px 4px 4px #015264;
                    transition: .3s;
                }

                header>nav>ul>li>a:active {
                    box-shadow: none;
                    transition: 0s;
                    position: relative;
                    top: 4px;
                    left: 4px;
                }

main>section>h3 {
    text-align: center;
    padding: 20px;
    font-size: 2.5em;
    color: var(--azulOscuro);
    font-family: 'Courgette', sans-serif;
}

main>section>section {
    background-color: var(--azulClaro);
    margin: 0 30px 50px 30px;
}

    main>section>section>h4 {
        color: var(--negroLetra);
        padding: 30px;
    }

footer {
    background-color: var(--naranjaClaro);
    display: flex;
    padding: 30px;
    justify-content: space-between;
}

    footer>p {
        font-size: 1.2em;
        margin: 0 10px 0 10px;
        font-weight: bold;
        color: var(--naranjaOscuro);
    }

        footer>p>a,
        footer>p>a>span {
            font-weight: bold;
            color: var(--naranjaOscuro);
        }

        footer>p>a:hover {
            text-decoration: none;
        }




/*CSS para index.html y buscar.html*/

#busqueda,
#articulos {
    padding: 30px 10px 50px 10px;
}

    #busqueda>h4,
    #articulos>h4 {
        font-size: 1.5em;
        padding: 20px;
    }

        #busqueda>form {
            margin-top: 15px;
            margin-left: 30px;
        }

            #busqueda>form>label {
                color: var(--azulOscuro);
                font-weight: bold;
            }

            #busqueda>form>input {
                width: 100%;
                height: 40px;
                padding: 10px;
                font-size: 1.2em;
                background-color: transparent;
                border: none;
                border-bottom: solid 2px var(--azulOscuro);
                border-radius: 4px;
            }

            #busqueda>form>input:hover {
                border-bottom: solid 2px #015264;
            }

            #busqueda>form>input:focus {
                border: none;
            }

    #articulos>section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #articulos>section>article {
        width: 400px;
        margin: 10px;
    }

        #articulos>section>article>p:first-child {
            text-align: center;
        }