*{
    box-sizing: border-box;
}

#capa-fondo{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: rgba(255,255,255,.8);
}

    #capa-fondo > article{
        background-color: #fff;
        border: 2px solid #000;
        text-align: center;
        width: 20em;
        position: absolute;
        top: 2em;
        left: 50%;
        transform: translate(-50%);
    }

        #capa-fondo > article > h2{
            background-color: #83E389;
            margin: 0;
            padding: .5em;
        }

            #capa-fondo > article > footer > button{
                margin: .5em;
                font-size:1em;
                background-color: #ccc;
                border: 1px solid #aaa solid;
                padding: .5em 2em;
                cursor: pointer;
            }
#pregunta{
    width: 20em;
    padding: .5em;
    border: 2px solid #000;
    margin: .5em 0;
}
    #pregunta>form{
        display: flex;
        flex-direction: column;
    }

        #pregunta>form>textarea{
            height: 6em;
        }

.ficha-foto{
    display: flex;
    flex-direction: column;
    width: 20em;
}
    .ficha-foto>img{
        max-width: 100%;
        max-height: 100%;
    }
    .ficha-foto>input[type="file"]{
        display: none;
    }

    .ficha-foto>button{
        align-self: center;
    }